p[_ngcontent-c16] a[_ngcontent-c16] {
    color: #697071;
    text-decoration: none
}

p[_ngcontent-c16] a.active[_ngcontent-c16] {
    font-family: Whitney-semi-bold;
    color: #20bd99;
    font-weight: 500;
    background-color: transparent
}

.sidebar[_ngcontent-c16] {
    border-right: 1px solid #eaeaec
}

.userInputId[_ngcontent-c16] {
    margin-left: 5px
}

.user_fluid[_ngcontent-c16] {
    margin: 90px auto
}

@media screen and (max-width:768px) {
    .user_fluid[_ngcontent-c16] {
        margin: 90px auto
    }
}

.bread_crumb[_ngcontent-c17] {
    margin: 30px 0
}

.bread_crumb[_ngcontent-c17] li[_ngcontent-c17] {
    display: inline-block;
    float: left;
    margin-right: 5px
}

.bread_crumb[_ngcontent-c17] li[_ngcontent-c17] a[_ngcontent-c17] {
    color: #696b79
}

.bread_crumb[_ngcontent-c17] li[_ngcontent-c17]:after {
    font-size: 10px;
    content: "/";
    margin-left: 5px
}

.bread_crumb[_ngcontent-c17] li[_ngcontent-c17]:last-child {
    font-weight: 500;
    margin-right: 0;
    font-family: Whitney-semi-bold
}

.bread_crumb[_ngcontent-c17] li[_ngcontent-c17]:last-child:after {
    content: "";
    margin-right: 0
}

ul.bread_crumb[_ngcontent-c17]:after,
ul.bread_crumb[_ngcontent-c17]:before {
    content: "";
    display: table
}

.cart-empty[_ngcontent-c18] {
    min-height: 500px;
    text-align: center
}

.cart-empty[_ngcontent-c18] .empty-cart-icon[_ngcontent-c18] {
    height: 85px;
    width: 85px;
    margin: 0 auto;
    background-image: url(../../../assets/shoppingbag.png);
}

.cart-empty[_ngcontent-c18] .empty-cart-message[_ngcontent-c18] {
    font-size: 20px;
    color: #535766;
    font-weight: 600;
    font-family: Whitney-semi-bold;
    line-height: 120px;
    margin: 15px 0
}

.cart-empty[_ngcontent-c18] .empty-wishlist-link[_ngcontent-c18] {
    color: #526cd0;
    font-size: 16px;
    font-weight: 500
}

.line_item_image[_ngcontent-c19] {
    float: left
}

.view-details-link[_ngcontent-c19] {
    color: #1d886d
}

.status[_ngcontent-c15] {
    color: #20bd99
}

.line_item_image[_ngcontent-c15] {
    border: 1px solid #eee
}

.pdp-button[_ngcontent-c15] {
    padding: 1% 1% 1% 0;
    font-size: 18px;
    width: 50%;
    border: 1px solid #1d886d;
    background-color: #1d886d;
    color: #f2f2f2
}

.col1[_ngcontent-c15] {
    width: 20%;
    display: inline-block;
    vertical-align: bottom
}

.col1[_ngcontent-c15] img[_ngcontent-c15] {
    width: 120px;
    height: 160px;
    -o-object-fit: contain;
    object-fit: contain
}

.prod-item[_ngcontent-c15] {
    background: #fff;
    border: 1px solid #eaeaec;
    -webkit-box-shadow: 0 0 4px rgba(40, 44, 63, .08);
    box-shadow: 0 0 4px rgba(40, 44, 63, .08);
    margin-bottom: 30px;
    text-transform: none;
    padding-bottom: 0 !important
}

.prod-item[_ngcontent-c15] .col1[_ngcontent-c15] {
    width: 20%;
    display: inline-block;
    vertical-align: bottom
}

.prod-item[_ngcontent-c15] .col1[_ngcontent-c15] img[_ngcontent-c15] {
    width: 120px;
    height: 160px;
    -o-object-fit: cover;
    object-fit: cover
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] {
    vertical-align: top;
    display: inline-block;
    padding: 10px 10px 10px 25px;
    min-height: 145px;
    position: relative;
    width: 79%
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .prod-name[_ngcontent-c15] {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
    padding: 5px 5px 5px 0
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .prod-name[_ngcontent-c15] a[_ngcontent-c15] {
    font-size: 14px;
    font-family: Poiret One;
    font-weight: 600;
    color: #535766;
    margin-right: 6px
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .prod-amount[_ngcontent-c15] {
    float: right;
    padding: 5px 5px 5px 0;
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    font-size: 14px;
    font-family: Whitney-semi-bold;
    color: #535766;
    margin-left: 20px
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .size-qty-wrap[_ngcontent-c15] {
    margin: 5px 0;
    color: #535766
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .size-qty-wrap[_ngcontent-c15] .size-qty[_ngcontent-c15] {
    margin: 0 0 4px;
    padding-right: 10px;
    display: inline-block
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .size-qty-wrap[_ngcontent-c15] .size-qty[_ngcontent-c15] .qty[_ngcontent-c15],
.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .size-qty-wrap[_ngcontent-c15] .size-qty[_ngcontent-c15] .size[_ngcontent-c15] {
    margin-right: 20px
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .size-qty-wrap[_ngcontent-c15] .size-qty[_ngcontent-c15] .qty[_ngcontent-c15] .gray[_ngcontent-c15],
.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .size-qty-wrap[_ngcontent-c15] .size-qty[_ngcontent-c15] .size[_ngcontent-c15] .gray[_ngcontent-c15] {
    color: gray
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .size-qty-wrap[_ngcontent-c15] .size-qty[_ngcontent-c15] .qty[_ngcontent-c15] .icon[_ngcontent-c15],
.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .size-qty-wrap[_ngcontent-c15] .size-qty[_ngcontent-c15] .size[_ngcontent-c15] .icon[_ngcontent-c15] {
    width: 20px;
    height: 20px;
    background-position: -2570px -13px;
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 4250px 153px;
    vertical-align: middle;
    background-image: url(../../../assets/checkout_sprite.png)
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .edit-move-delete[_ngcontent-c15] {
    position: absolute;
    left: 25px;
    right: 20px;
    bottom: 0;
    border-top: 1px solid #eaeaec;
    padding-top: 9px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 0;
    color: #696e79
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .edit-move-delete[_ngcontent-c15] .delete-item[_ngcontent-c15],
.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .edit-move-delete[_ngcontent-c15] .move-item[_ngcontent-c15] {
    font-family: Whitney-semi-bold;
    margin: 0 15px 0 0
}

.prod-item[_ngcontent-c15] .col2[_ngcontent-c15] .edit-move-delete[_ngcontent-c15] .move-item[_ngcontent-c15] {
    color: #526cd0
}

@media screen and (max-width:768px) {
    .prod-item[_ngcontent-c15] .col2[_ngcontent-c15] {
        width: 100%
    }
}