.navbar-right[_ngcontent-c1] {
    margin-right: 0 !important
}

.iconPics[_ngcontent-c1] {
    height: 28px;
    width: 28px;
    margin: 0 auto;
    background-size: 100% 100%;
    position: inherit
}

@media screen and (max-width:768px) {
    .iconPics[_ngcontent-c1] {
        height: 20px;
        width: 20px
    }

    .dropdown-toggle[_ngcontent-c1] {
        padding: 10px 12px
    }
}

.navbar-nav[_ngcontent-c1] .open[_ngcontent-c1] .dropdown-menu[_ngcontent-c1] {
    position: absolute !important;
    background-color: #fff
}

.fa[_ngcontent-c1] {
    font-size: 2rem
}

img[_ngcontent-c1] {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 131.5px;
    height: 68px;
    margin-top: -34px;
    margin-left: -65px
}

@media screen and (max-width:768px) {
    img[_ngcontent-c1] {
        width: 92.04px;
        height: 47.59px;
        margin-top: -25px;
        margin-left: -95px
    }
}

#wrapper[_ngcontent-c1] td[_ngcontent-c1] {
    vertical-align: middle;
    text-align: center
}

.icon-bar[_ngcontent-c1] {
    height: 1px
}

.navbar[_ngcontent-c1] {
    background-color: #fff;
    list-style: none
}

.navbar-brand[_ngcontent-c1] {
    font-family: Poiret One;
    font-size: 58px;
    padding-top: 20px;
    float: right
}

.navbar-brand[_ngcontent-c1] img[_ngcontent-c1] {
    width: 40%
}

.nav[_ngcontent-c1] navbar-nav[_ngcontent-c1] {
    border-radius: 0 6px 6px 6px
}

.az_001[_ngcontent-c1] {
    color: #050504;
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace
}

@media screen and (max-width:700px) {
    .navbar-brand[_ngcontent-c1] {
        font-size: 39px;
        margin-left: 10px
    }
}

@media screen and (max-width:768px) {
    .az_001[_ngcontent-c1] {
        margin-top: 17px;
        margin-left: 13px
    }
}

@media screen and (max-width:768px) {
    padding-left: 35px
}

.navbar-toggle[_ngcontent-c1] {
    margin-left: 27px;
    margin-top: 26px;
    float: left
}

.navbar-default[_ngcontent-c1] .navbar-collapse[_ngcontent-c1],
.navbar-default[_ngcontent-c1] .navbar-form[_ngcontent-c1] {
    border-color: transparent
}

.padTop[_ngcontent-c1] {
    margin-bottom: 10px
}

@media screen and (min-width:768px) {
    .padTop[_ngcontent-c1] {
        padding-top: 15px;
        margin-bottom: 10px
    }
}

@media screen and (max-width:768px) {

    .bla1[_ngcontent-c1],
    .padTop[_ngcontent-c1] {
        background-color: #fff
    }

    .bla1[_ngcontent-c1] {
        list-style: none;
        font-size: 15px;
        text-align: left
    }

    .az_001[_ngcontent-c1] {
        min-height: 30px;
        font-size: 14px;
        margin-left: 18px
    }
}

.flagSelect[_ngcontent-c1] {
    padding-right: 24px
}

#flagDown[_ngcontent-c1] {
    display: -webkit-inline-box
}

@media screen and (max-width:768px) {
    #flagDown[_ngcontent-c1] {
        margin-right: 10px
    }
}

.nav[_ngcontent-c1] .open[_ngcontent-c1]>a[_ngcontent-c1],
.nav[_ngcontent-c1] .open[_ngcontent-c1]>a[_ngcontent-c1]:focus,
.nav[_ngcontent-c1] .open[_ngcontent-c1]>a[_ngcontent-c1]:hover {
    background-color: transparent
}

.dropdown-submenu[_ngcontent-c1] {
    position: relative
}

.dropdown-menu[_ngcontent-c1] {
    position: absolute !important;
    right: 0 !important
}

.dropdown-submenu[_ngcontent-c1]>.dropdown-menu[_ngcontent-c1] {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px
}

.dropdown-submenu[_ngcontent-c1]:focus .dropdown-menu[_ngcontent-c1],
.dropdown-submenu[_ngcontent-c1]:hover .dropdown-menu[_ngcontent-c1] {
    display: block
}

.dropdown-submenu[_ngcontent-c1]>a[_ngcontent-c1]:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent
}

.dropdown-submenu[_ngcontent-c1]:hover>a[_ngcontent-c1]:after {
    border-left-color: #fff
}

.dropdown-submenu.pull-left[_ngcontent-c1] {
    float: none
}

.dropdown-submenu.pull-left[_ngcontent-c1]>.dropdown-menu[_ngcontent-c1] {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px
}

@media screen and (max-width:768px) {
    .nav[_ngcontent-c1]>li[_ngcontent-c1] {
        position: static
    }
}

@media screen and (max-width:768px) {
    .navbar-nav[_ngcontent-c1] .open[_ngcontent-c1] .dropdown-menu[_ngcontent-c1] {
        position: absolute !important;
        border: none;
        background: #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
    }
}

@media screen and (max-width:768px) and (max-width:768px) {
    #profDown[_ngcontent-c1] {
        margin-right: 10px
    }
}

@media screen and (max-width:768px) and (max-width:768px) {
    .cart[_ngcontent-c1] {
        margin-right: -15px
    }
}

@media screen and (max-width:768px) and (max-width:768px) {
    .divider[_ngcontent-c1] {
        margin: 0
    }
}

.iconPics[_ngcontent-c13] {
    height: 28px;
    width: 28px;
    margin: 0 auto;
    background-size: 100% 100%
}

@media screen and (max-width:768px) {
    .iconPics[_ngcontent-c13] {
        height: 20px;
        width: 20px
    }

    .dropdown-toggle[_ngcontent-c13] {
        padding: 10px 12px
    }
}

.fa[_ngcontent-c13] {
    font-size: 2rem
}

.nav[_ngcontent-c13] .open[_ngcontent-c13]>a[_ngcontent-c13],
.nav[_ngcontent-c13] .open[_ngcontent-c13]>a[_ngcontent-c13]:focus,
.nav[_ngcontent-c13] .open[_ngcontent-c13]>a[_ngcontent-c13]:hover {
    background-color: transparent
}

.cart[_ngcontent-c13] {
    cursor: pointer
}

.dropdown-submenu[_ngcontent-c13] {
    position: relative
}

.dropdown-menu[_ngcontent-c13] {
    position: absolute !important;
    right: 0 !important
}

.dropdown-submenu[_ngcontent-c13]>.dropdown-menu[_ngcontent-c13] {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px
}

.dropdown-submenu[_ngcontent-c13]:focus .dropdown-menu[_ngcontent-c13],
.dropdown-submenu[_ngcontent-c13]:hover .dropdown-menu[_ngcontent-c13] {
    display: block
}

.dropdown-submenu[_ngcontent-c13]>a[_ngcontent-c13]:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent
}

.dropdown-submenu[_ngcontent-c13]:hover>a[_ngcontent-c13]:after {
    border-left-color: #fff
}

.dropdown-submenu.pull-left[_ngcontent-c13] {
    float: none
}

.dropdown-submenu.pull-left[_ngcontent-c13]>.dropdown-menu[_ngcontent-c13] {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px
}

@media screen and (max-width:768px) {
    .nav[_ngcontent-c13]>li[_ngcontent-c13] {
        position: static
    }
}

@media screen and (max-width:768px) {
    .navbar-nav[_ngcontent-c13] .open[_ngcontent-c13] .dropdown-menu[_ngcontent-c13] {
        position: absolute !important;
        border: none;
        background: #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
    }

    #profDown[_ngcontent-c13] {
        display: -webkit-inline-box
    }
}

@media screen and (max-width:768px) and (max-width:768px) {
    #profDown[_ngcontent-c13] {
        margin-right: 10px
    }
}

@media screen and (max-width:768px) and (max-width:768px) {
    .cart[_ngcontent-c13] {
        margin-right: -15px
    }
}

@media screen and (max-width:768px) {
    #topMenuLang[_ngcontent-c13] {
        left: -100%;
        top: -100%
    }
}