.checkout-steps[_ngcontent-c2] {
    width: 89%
}

.checkout-steps[_ngcontent-c2] .step[_ngcontent-c2] {
    display: inline-block;
    padding: 0
}

.checkout-steps[_ngcontent-c2] .step[_ngcontent-c2] a[_ngcontent-c2] {
    color: #2d1008;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: Whitney-semi-bold;
    letter-spacing: 3px;
    text-decoration: none;
    cursor: text
}

.checkout-steps[_ngcontent-c2] .step[_ngcontent-c2] .can-click[_ngcontent-c2] {
    cursor: pointer
}

.checkout-steps[_ngcontent-c2] .step[_ngcontent-c2] .active[_ngcontent-c2] {
    color: #1d886d;
    border-bottom: 2px solid #1d886d;
    padding-bottom: 5px
}

.checkout-steps[_ngcontent-c2] .divider[_ngcontent-c2] {
    width: 3%;
    border-top: 1px dashed #94969f;
    height: 5px;
    display: inline-block !important;
    padding: 0 !important
}

[_nghost-c2] .active #inlineEditWrapper {
    color: #20bd99;
    border-bottom: 2px solid #20bd99;
    padding-bottom: 5px
}

.navbar[_ngcontent-c2] {
    height: 78px;
    background-color: #fff;
    list-style: none
}

.navbar-brand[_ngcontent-c2] {
    margin-bottom: -20px
}

.navbar-brand[_ngcontent-c2] img[_ngcontent-c2] {
    width: 50%
}

@media screen and (max-width:768px) {
    .navbar-brand[_ngcontent-c2] img[_ngcontent-c2] {
        width: 35%
    }
}

.nav[_ngcontent-c2] navbar-nav[_ngcontent-c2] {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px
}

.az_001[_ngcontent-c2] {
    color: #050504;
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace
}

.checkout-steps[_ngcontent-c2] ul[_ngcontent-c2],
ol[_ngcontent-c2] {
    padding-left: 34%;
    margin-top: 30px
}

@media screen and (max-width:768px) {

    .checkout-steps[_ngcontent-c2] ul[_ngcontent-c2],
    ol[_ngcontent-c2] {
        margin-top: 30px;
        padding-left: 36%
    }
}

@media screen and (min-width:768px) {
    .az_001[_ngcontent-c2] {
        padding-right: 30px
    }
}

@media screen and (max-width:768px) {
    collapse[_ngcontent-c2] navbar-collapse[_ngcontent-c2] {
        float: right
    }
}

.navbar-toggle[_ngcontent-c2] {
    margin-right: 4px;
    margin-top: 22px
}

@media screen and (min-width:768px) {

    .navbar-fixed-bottom[_ngcontent-c2],
    .navbar-fixed-top[_ngcontent-c2] {
        position: -webkit-sticky;
        position: sticky
    }
}

.navbar-default[_ngcontent-c2] .navbar-collapse[_ngcontent-c2],
.navbar-default[_ngcontent-c2] .navbar-form[_ngcontent-c2] {
    border-color: transparent
}

@media screen and (max-width:400px) {
    .navbar-brand[_ngcontent-c2] {
        font-size: 39px
    }
}

@media screen and (max-width:768px) {
    .checkout-steps[_ngcontent-c2] .step[_ngcontent-c2] a[_ngcontent-c2] {
        font-size: 9px
    }
}